:root {
  --primary-color: #d6f8ffda;
  --secondary-color: #fcfcfce4;
  --third-color: 
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Arial', serif;
  background-color: #302705;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
  background-color: var(--secondary-color);
  border: black 1px solid;
}

main ul {
  list-style: none;
}

main li {
  font-size: 1rem;
}

main img {
  border-radius: 2%;
  margin: 1em 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

li a {
  color: #fff3c7;
}

table {
  box-shadow: .5em .5em rgba(0, 0, 0, 0.2);
}

td {
  color: black;
}

button {
  font-size: 1.3rem;
  background-color: #fff3c7;
  margin-left: 0;
  margin-top: 10px;
}

form button {
  width: 100%;
}

article {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  min-width: 100px;
  border-radius: right 5%;
  padding: 1em;
}

article h2 {
  font-weight: bold;
  font-size: 1.5em;
}

.container {
  width: 84vw;
  margin: 0 auto;
}


.header img {
  width: 150px;
}

.head-text {
  color: #fff3c7;
  font-size: 2.5rem;
}

.navbar {
  background: rgba(100, 100, 100, 0.4);
  border-bottom: 3px solid grey;
}

.navbar-wrapper {
  z-index: 100; /* to make sure it's always on top with z*/
  width: 100%;
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 4px;
  background: white;
  margin: 6px 0;
  transition: all 0.5s ease;
}

.navbar-toggler {
  border: none;
  padding: 0 0.3rem;
  background: transparent;
  cursor: pointer;
}

.brand-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-item {
  padding: 1rem;
}

.navbar-collapse {
  float: right;
  background: #fff3c7;
  background: transparent;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

#table-top {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#table-top * {
  background-color: var(--primary-color);
  color: black;
  padding: 0.2rem;
  border-radius: 1%;
}

#add-location-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  color: #fff3c7;
}

#title-container {
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: 2rem;
}

#sub-banner-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


#sub-banner-container img {
  margin: 0 2rem;
  width: 200px;
}

#sub-banner-container article {
  width: 30%;
  text-align: center;
  border-bottom: 2px solid black;
  height: 10%;
}


#featured-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

#featured-section-container article {
  margin: 2rem;
  padding: 1rem;
  background-color: #fff3c7;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  border-radius: 5%;
  height: 10%;
}

footer div {
  display: flex;
  justify-content: center;
  position: fixed;
  color: #fff3c7;
  width: 100%;
  height: 3vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  bottom: 0;
}



