
* {
  box-sizing: border-box;
  padding: auto;
  margin: auto;
  align-items: center;
}


body {
  font-family: 'Arial', serif;
  font-size: 1.2em;
  background-color: #cceefc;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main ul {
  list-style: none;
}
main li {
  font-size: 2rem;
}

main img {
  border-radius: 1%;
  border: solid black 2px;
  margin: 1em 0;
}

a {
  color: green;
}

.header img {
  width: 10%;
}

table {
  box-shadow: -.5em .5em #111111;
}

td {
  color: green;
}
.container {
  width: 94vw;
  margin: 0 auto;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  min-width: 50px;
  background-color: #fff3c7;
  border-radius: 5%;
  border: solid black 3px;
  box-shadow: .5em .5em rgba(0, 0, 0, 0.2);
  padding: 1em;

}

article h2 {
  font-weight: bold;
  font-size: 1.4em;
}

.header {
  background: #cceefc;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 10vh;
  padding-top: 55.2px;
}

.navbar {
  background: #fff3c7;
  padding: 0.5rem 0;
  border-bottom: 3px solid green;
}

.navbar-wrapper {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 100; /* to make sure it's always on top with z*/
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 4px;
  background: green;
  margin: 6px 0;
  transition: all 0.5s ease;
}

.navbar-toggler {
  border: none;
  padding: 0 0.3rem;
  background: transparent;
  cursor: pointer;
}

.brand-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-item {
  padding: 1rem;
}

.navbar-collapse {
  background: #fff3c7;
  position: fixed;
  right: 0;
  height: 10%;
  border-radius: 5%;gt
  border: solid #bababa;
}

#table-top * {
  border: solid black 2px;
  background-color: #fff3c7;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1%;
}

#title-container {
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: 2rem;
}

#sub-banner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#sub-banner-container img {
  margin: 0 2rem;
  width: 400px;
}

#featured-section-container {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
  width: 75%;
}

#featured-section-container article {
  margin: 2rem;
  background-color: #db8074;
}

#lower-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#lower-section-container * {
  margin: 0 2rem;
  padding: 0.3rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

footer div {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 7vh;
  background-color: #fff3c7;
  border: solid green;
  position: fixed;
  bottom: 0;
  z-index: 999;
}



