
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  overflow: scroll;
}

article {
  justify-content: center;
  display: inline-block;
  background-color: #fff3c7;
  border-radius: 3%;
  margin: 1.5rem;
  padding: 1rem 1.5rem;

}

a {
  color: green;
}

img {
  width: 10%;
}

#table-top * {
  border: solid black 2px;
  background-color: #fff3c7;
  padding: 0.2rem;
  display: 
}

#table-head {
    margin: 2rem 1.5rem;
    border-radius: 3%;
}
.container {
  width: 94vw;
  margin: 0 auto;
}

.header {
background: #cceefc;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  padding-top: 55.2px;
}

.navbar {
  background: #fff3c7;
  padding: 0.5rem 0;
  border-bottom: 3px solid green;
}

.navbar-wrapper {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 100; /* to make sure it's always on top */
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 4px;
  background: green;
  margin: 6px 0;
  transition: all 0.5s ease;
}

.navbar-toggler {
  border: none;
  padding: 0 0.3rem;
  background: transparent;
  cursor: pointer;
}

.brand-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-item {
  padding: 1rem;
}

  
